<html>
<body>
    <h3> HAUT COMMISARIAT AU PLAN</h3>
    <h4> تقدير الراتب الشهري للساكنة النشيطة المشتغلة كمستاجرين </h4>
    <div>
      <form action="/predict" method="POST">
        <label for="w_class">الجنس</label>
        <select id="w_class" name="w_class">
          <option value="0">ذكر</option>
          <option value="1">انتى</option>
        </select>
        <br>
        <label for="age"> السن </label>
        <input type="text" id="age" name="age">           
        <br>
        <br>
        <label for="class"> هل لديك شهادة التكوين المهني </label>
        <select id="class" name="class">
          <option value="0">الاستئناس</option>
          <option value="1">التخصص</option>
          <option value="2">التاهيل</option>
          <option value="3">تقني</option>
          <option value="4">تقني متخصص</option>
          <option value="5">لا</option>
        </select>
        <br>
        <br>
        <label for="edu">هل لديك مسؤولية في المؤسسة التي تزاول بها عملك</label>
        <select id="edu" name="edu">
          <option value="0">نعم</option>
          <option value="1">لا</option>
        </select>
        <br>
        <br>
        <label for="martial_stat">ما هي هذه المسؤولية</label>
        <select id="martial_stat" name="martial_stat">
          <option value="15">وزير كاتب دولة كاتب عام</option>
          <option value="2">ضابط في الامن الجيش</option>
          <option value="7">مدير رئيس مصلحة بالادارة المركزية</option>
          <option value="14">سفير قنصل</option>
          <option value="12">والي عامل كاتب عام لعمالة</option>
          <option value="13">قائد ممتاز باشا خليفة</option>
          <option value="9">مدير جهوي او اقليمي رئيس مصلحة اقليمية</option>
          <option value="8">عميد كلية</option>
          <option value="4">مدير ناضر</option>
          <option value="11">رئيس مصلحة و مسؤول عن البرامج الصحية</option>
          <option value="10">نائب برلماني</option>
          <option value="6">مسير واطار حزب سياسي</option>
          <option value="5">مدير عام في مقاولة عمومية او شبه عمومية او خاصة</option>
          <option value="3">وكيل مقاولة فردية</option>
          <option value="1">مسؤولية تسلسلية غير موضحة اعلاه</option>
          <option value="0">بدون</option>
        </select>
        <br>
        <br>
        <label for="occup">الاستمرارية في العمل</label>
        <select id="occup" name="occup">
          <option value="0,0,0,0,0">مداوم يخصص وقته الكامل للعمل</option>
          <option value="1,0,0,0,0">مداوم لا يخصص الا جزءا من وقته لعمله</option>
          <option value="0,1,0,0,0">صدفي</option>
          <option value="0,0,1,0,0">موسمي</option>
          <option value="0,0,0,1,0">متمرن</option>
          <option value="0,0,0,0,1">حالة اخرى</option> 
        </select>
        <br>
        <br>
        <label for="relation">هل لك عقدة عمل</label>
        <select id="relation" name="relation">
          <option value="0,0,0,0,0">نعم مكتوبة ولمدة غير محددة</option>
          <option value="1,0,0,0,0">نعم مكتوبة ولمدة محددة</option>
          <option value="0,1,0,0,0">نعم عقدة تدريب من اجل الادماج</option>
          <option value="0,0,1,0,0">نعم عقدة تدريب من اجل مهمة معينة</option>
          <option value="0,0,0,1,0">نعم غير مكتوبة</option>
          <option value="0,0,0,0,1">لا</option>
        </select>
        <br>
        <br>
        <label for="race">هل تابعت خلال 12 شهرا الأخيرة تكوينا</label>
        <select id="race" name="race">
          <option value="0">نعم</option>
          <option value="1">لا</option>
        </select>
        <br>
        <br>
        <label for="gender">ماهي الفئة الاكتر ملاءمة مع العمل الذي تقوم به</label>
        <select id="gender" name="gender">
          <option value="0,0,0,0,0,0,0,0,0,0,0,0,0,0">اشغال التشحيم</option>
          <option value="1,0,0,0,0,0,0,0,0,0,0,0,0,0">طرق تمطيط القضبان المعدنية</option>
          <option value="0,1,0,0,0,0,0,0,0,0,0,0,0,0">اشغال الهدم</option>
          <option value="0,0,1,0,0,0,0,0,0,0,0,0,0,0">اذابة الزجاج</option>
          <option value="0,0,0,1,0,0,0,0,0,0,0,0,0,0">الاشغال التي تنجز في قنوات الصرف الصحي</option>
          <option value="0,0,0,0,1,0,0,0,0,0,0,0,0,0">الاشغال التي تنجز في المدابغ</option>
          <option value="0,0,0,0,0,1,0,0,0,0,0,0,0,0">اشغال انتاج الكهرباء</option>
          <option value="0,0,0,0,0,0,1,0,0,0,0,0,0,0">اشغال جمع النفايات</option>
          <option value="0,0,0,0,0,0,0,1,0,0,0,0,0,0">انتاج ومناولة مبيدات الطفيليات</option>
          <option value="0,0,0,0,0,0,0,0,1,0,0,0,0,0">اشغال تسطيح الارض</option>
          <option value="0,0,0,0,0,0,0,0,0,1,0,0,0,0">اشغال ذبح الحيوانات</option>
          <option value="0,0,0,0,0,0,0,0,0,0,1,0,0,0">الاشغال التي تتم داخل الحانات او الخمارات</option>
          <option value="0,0,0,0,0,0,0,0,0,0,0,1,0,0">صناعة الدوم</option>
          <option value="0,0,0,0,0,0,0,0,0,0,0,0,1,0">اشغال اخرى قد تسبب في مخاطر بدنية او امراض مهنية</option>
          <option value="0,0,0,0,0,0,0,0,0,0,0,0,0,1">لا يدخل عملي في اي فئة من هذه الفئات</option>      
        </select>
        <br>
        <br>
        <label for="native-country">قيمة التعويضات العائلية في الشهر</label>
        <select id="native-country" name="native-country">
          <option value="0">0</option>
          <option value="1">900</option>
          <option value="2">1200</option>     
        </select>   
        
        <label for="pay">قيمة تعويضات أخرى مرتبطة بالشغل</label>
        <select id="pay" name="pay">
          <option value="0">0</option>
          <option value="1">1000</option>
          <option value="2">1500</option>     
        </select>        
        <br>
        <br>       
        <input type="submit" value="Submit">        
      </form>
      Have you already a csvfile ?
      <form action="/data" method="POST">
          <input type="file" name="csvfile" value=""> <br>
          <input type="submit" name="" value="submit">
      </form>
    </div>
</body>
</html>


